.main__chat
  .main__header
    .main__header-leftbox
      .main__header-leftbox-group-name
        %h1.group-name group name
      .main__header-leftbox-members-list
        %p.members-list Menber :
    .main__header-rightbox
      .edit-btn Edit
