.side__bar
  .side__header
    .side__header-title
      %h1.side__header-title-name NAME
      %ul.side__header-title-list
        %li.side__header-title-list-create-group
          %a{:href => "#"} create-group
        %li.side__header-title-list-edit-user
          %a{:href => "#"} edit-user
  .groups
    %a{:href => "#"}
      .group
    %a{:href => "#"} group-title
    %a{:href => "#"} message