.side__bar
  .side__header
    .side__header-title
      %h1.side__header-title-name 
        =current_user.name
      %ul.side__header-title-list
        %li.side__header-title-list-create-group
          =link_to new_group_path, class: "create-group" do
            %i.far.fa-sticky-note
        %li.side__header-title-list-edit-user
          =link_to edit_user_path(current_user), class: "edit-user" do
            %i.fas.fa-cog
  .groups
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group), class: "group-messages" do
          .group__name
            = group.name
          .group__message
            = group.show_last_message